<header>
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
     <div class="container">
      <div class="navbar-header">
        <!-- 横幅が狭い時に出るハンバーガーボタン -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  
        <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
        <a class="navbar-brand" href="/">Tasklist</a>
      </div>
  
      <!-- メニュー項目 -->
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "新規タスク登録",new_task_path %></li>
            </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
</header>